* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: red;
    margin-top: 1em;
}

.style {
    margin-top: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

button {
    background-color: coral;
    border: none;
    border-radius: 30px;
    color: white;

    padding: 0.5em;
}

